/.project
/.classpath
/.cproject
/cache/
/*.class/.project
/.classpath
/.cproject
/cache/
/*.class/.project
/.classpath
/.cproject
/cache/
/*.class/.project
/.classpath
/.cproject
/cache/
/*.class
/*.class
/.settings/

/.settings
/.project
/.classpath
/.cproject
/cache/
/*.class